@import url("https://fonts.cdnfonts.com/css/hk-groteks");
:root {
  --card: #354259;
  --main: #ece5c7;
}

* {
  margin: 0px;
  font-family: "HK Grotesk", sans-serif;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 90%;
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 0px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1f1f1f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1f1f1f;
}

*:focus {
  outline: none;
}
